/* src/components/RegisterChildrenForm.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.register-children-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.register-children-form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.register-children-form h2 {
  margin-bottom: 20px;
  color: #A569BD;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.input-icon {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-icon label {
  margin-bottom: 5px;
  display: block;
}

.input-icon input,
.input-icon select,
.input-icon textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #A569BD;
  font-family: 'Roboto', sans-serif; /* Asegura que la fuente sea coherente */
}

.input-icon input[type="file"] {
  padding: 0;
}

.photo-preview {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.person-group,
.contact-group {
  margin-bottom: 15px;
}

.person-group input,
.contact-group input {
  margin-bottom: 5px;
}

.add-person-button,
.add-child-button {
  background-color: #38db46; /* Color verde para los botones de agregar */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px; /* Botones más pequeños */
  cursor: pointer;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  transition: background-color 0.3s;
}

.add-person-button:hover,
.add-child-button:hover {
  background-color: #38db46; /* Mismo color verde en hover */
}

.remove-person-button,
.remove-child-button {
  background-color: #ff4d4d; /* Color rojo para los botones de eliminar */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px; /* Botones más pequeños */
  cursor: pointer;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  transition: background-color 0.3s;
}

.remove-person-button:hover,
.remove-child-button:hover {
  background-color: #ff3333; /* Color rojo más oscuro en hover */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Aumenta el espacio entre los botones */
}

.button-group button {
  width: 48%;
  padding: 10px;
  background-color: #48C9B0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #5ad8bf;
}

.button-group button[type="button"] {
  background-color: #A569BD;
}

.button-group button[type="button"]:hover {
  background-color: #d481f5;
}

.add-child-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.add-child-button {
  margin-bottom: 10px; /* Espacio entre los botones */
}

textarea[name="specialNeeds"] {
  color: #555; /* Color del texto en el campo de necesidades especiales */
  font-size: 14px; /* Tamaño de fuente del texto */
}

/* src/components/RegisterChildrenForm.css */

/* Añade una clase para el contenedor de los botones de Agregar Niño y Eliminar Niño */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
  }
  
  .add-child-button {
    margin-bottom: 10px; /* Espacio entre los botones */
  }
  
  .remove-child-button {
    margin-bottom: 10px; /* Espacio entre los botones */
  }

  /* Asegúrate de ajustar el estilo según tu diseño */
.age-text {
    font-size: 14px;
    color: #A569BD;
    margin-top: 5px;
    margin-left: 50px;
  }
  